<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Vue :)</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <h1>Hello, Vue >:)</h1>

    <div id="app">

        <!-- attribute bidning -->
        <a v-bind:href="url" target="_blank" >The Best Website Ever!</a>

        <div v-if="showBooks">
            <ul>
                <li v-for="book in filteredBooks" v-bind:class="{ fav: book.isFav }" @click="toggleFav(book)">
                    <!-- for(book : books) -->
                    <img v-bind:src="book.img" v-bind:alt="book.title">
                    <h3> {{book.title}} </h3>
                    <h3> {{book.author}} </h3>
                </li>
            </ul>
        </div>
<!-- v-if removes the element from HTML -->
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
            <!-- <span v-if="!showBooks">Show Books</span> -->
        </button>
<!--  -->
        <br>
<!-- v-show changes the CSS and doesn't remove the HTML -->
        <!-- <div v-show="showBooks">
            currently showing Books
        </div> -->
<!--  -->
<!-- 
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <div @click="changeTitle('Oathbringer')">Change book title</div>

        <br> -->

<!-- mouse events -->
        <!-- <div class="box" @mouseover="handleEvent($event, 5)">mouseover </div>
        <div class="box" @mouseleave="handleEvent">mouseeave </div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMousemove">position - {{ x }} {{ y }}</div>
    </div> -->

    <script src="main.js"></script>
</body>
</html>